<html>
<body>
 <head>
    <meta charset="utf-8" >
    <!__utf a unicode system only eg unicode- giving 4bytes to int in java __>

        <title>ShopLanD</title>
        <!__ below 2 are the bootstrap references __>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <!__imports lobster font from google fonts__>
            <link  rel="stylesheet" type="text/css"  href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">  
    
   

<!__CSS link has to come at the end>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">  

<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

</script>




<script type="text/javascript">  //anonymous func
    
function msg()
{ document.getElementById('show').onclick=alert('please check the details carefully.');}
       
       
</script>

</head> 



<!__DRAG AND DROP CODE >
<p style="padding-left: 20px; font-family: 'lobster'; font-size:40px;">Drag the shortlisted items into the cart !</p>
<img id="todrag1" src="http://static1.jassets.com/p/Baggit-Gcch-Roxx-Andrew-Smoke-Wallet-7524-5535202-1-catalog_m.jpg" draggable="true" ondragstart="drag(event)">
<img id="todrag2" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOF5kMDlEF4ZaeikpWMLYa8L9KPpmmeD1eT5sipta8VECYJZoOaw"  draggable="true" ondragstart="drag(event)">

<img id="todrag3" src="http://cdn.ndtv.com/tech/images/gadgets/asus-zenbook-pro-ux501.jpg"  draggable="true" ondragstart="drag(event)">
<img id="todrag4" src="http://g04.a.alicdn.com/kf/HTB1eHAIKpXXXXaxXVXXq6xXFXXXX/New-2013-canvas-shoes-lady-canvas-shoes-1908.jpg_350x350.jpg"  draggable="true" ondragstart="drag(event)"  draggable="true" ondragstart="drag(event)">

</img><br><br>
<div align="top-right">
<div  ondrop="drop(event)" ondragover="allowDrop(event)"><img id="draginto" src="https://image.freepik.com/free-icon/shopping-cart-of-checkered-design_318-50865.png" />  </div>
<!__ do not make Id of division, or it will create a block separately using that id styling.Make id of img  ></div>


<br>
<br>
<label>You are required to fill this form before moving ahead.</label>
<form>
<label>Enter your name&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type= "text"/><br>
<label>Enter your password&nbsp;</label><input type= "password"/><br>
<label>Enter your email ID&nbsp;&nbsp;&nbsp;&nbsp;</label><input type= "text"/><br>
<label>Enter your phone no&nbsp;&nbsp;</label><input type= "text"/><br>
 <input type ="radio" name="gender" value="male" checked>male</input>
<input type ="radio" name="gender" value="female" >female</input>

<!__alert box>
<div>
<button id="show" onclick="msg()">Submit</button>

</div>
</form>

</body>
</html>