{% load staticfiles %}
<!__DOCTYPE html__>
<html>
    <head>
	<!__meta charset="utf-8"__>

        <title>CodeLand </title>
		
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   
   <body background = "http://www.planwallpaper.com/static/images/518151-backgrounds_W3qVPu2.jpg">
	
	
	       
		<h1><b>Welcome to CodeLand</b></h1>
			
		<font face ="Comic Sans ms" color = "gray" size = "10-12"><p>
		A website dedicated to help coders.
		We are here to provide you efficient working codes and logics. </p>
				</font>
		
		
				  
		<audio controls autoplay>
		<source src = "https://youtu.be/yfgsklK_yFo?list=PLEsfXFp6DpzQFqfCur9CJ4QnKQTVXUsRy" type = "audio/mp3">
		</audio>
	
		<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1k0bq9dbJueo-EAzD9OUCdoDM6MuqIHpp3pMh7rBmbaSnSyn32g">
		
		<video width = "320" height = "240" controls>
		<source src = "A.mp4" type = "video/mp4">
		</video>
				
		 <br><br>
		 
	<div align="right" >
	  <a href = "https://shreyagupta7wordpresscom.wordpress.com/">
	  <font face = "Comic Sans ms " color = "gray" size = "10" >
	  Poetry world
	  </a>
	  </div>
		
		
		
		

    </body>
</html>



	<!__to add boxes , make 2 pages of front end__>
		<!__audio src = " " controls__>