<!way of writing a for loop in html, posts is the instance created in views.py, post is the variable >
            
             <!__to print a variable- this syntax. post is also the instance created in the python shell while publishing the post __>
        <!__ end of for loop __>
      
        <!__ by div tag the post names have appeared in separate lines  __>
        
{%extends 'blog/base.html' %}
<body>



</body>









{%block content%}
{% for post in posts %}
<ul>
    <div class="post">
        <div class="date">
      <p>published: {{ post.published_date }}</p>
        </div>
      <li> <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3></li>
        <p>{{ post.text|linebreaksbr }}</p>   
    </div>
    </ul>
{% endfor %}
{%endblock%}

<!a href "" is used to print the posttitle in the importd font -here it's lobster>














		