<!way of writing a for loop in html, posts is the instance created in views.py, post is the variable >
            
             <!__to print a variable- this syntax. post is also the instance created in the python shell while publishing the post __>
        <!__ end of for loop __>
      
        <!__ by div tag the post names have appeared in separate lines  __>
   
{%extends 'blog/base.html' %}




{%block part%}

<div class="page-header">

        <h1><a href="/">Welcome to ShopLand</a></h1>
        {%if user.is_authenticated%}<!so that only the logged in user can edit>
         <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {%endif%}

    </div>


        
<p> <h3 class="tagline">Customer satisfaction is our motto. </h3></p>
<hr><br>



<!__use a name attribute in all options which has to be the same, and make one of the values of name checked> <br>




<!__DRAG AND DROP CODE >
<p id="dragline" >Drag your favorite items into the cart !</p>
<img id="todrag1" src="http://static1.jassets.com/p/Baggit-Gcch-Roxx-Andrew-Smoke-Wallet-7524-5535202-1-catalog_m.jpg" draggable="true" ondragstart="drag(event)">
<img id="todrag2" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOF5kMDlEF4ZaeikpWMLYa8L9KPpmmeD1eT5sipta8VECYJZoOaw"  draggable="true" ondragstart="drag(event)">

<img id="todrag3" src="http://cdn.ndtv.com/tech/images/gadgets/asus-zenbook-pro-ux501.jpg"  draggable="true" ondragstart="drag(event)">
<img id="todrag4" src="http://g04.a.alicdn.com/kf/HTB1eHAIKpXXXXaxXVXXq6xXFXXXX/New-2013-canvas-shoes-lady-canvas-shoes-1908.jpg_350x350.jpg"  draggable="true" ondragstart="drag(event)"  draggable="true" ondragstart="drag(event)">

</img><br><br>
<div align="top-right">
<div  ondrop="drop(event)" ondragover="allowDrop(event)"><img id="draginto" src="https://image.freepik.com/free-icon/shopping-cart-of-checkered-design_318-50865.png" />  </div>
<!__ do not make Id of division, or it will create a block separately using that id styling.Make id of img  ></div>


<br>
<br>
<label>You are required to fill this form before moving ahead.</label>
<form>
<label>Enter your name&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type= "text"/><br>
<label>Enter your password&nbsp;</label><input type= "password"/><br>
<label>Enter your email ID&nbsp;&nbsp;&nbsp;&nbsp;</label><input type= "text"/><br>
<label>Enter your phone no&nbsp;&nbsp;</label><input type= "text"/><br>
 <input type ="radio" name="gender" value="male" checked>male</input>
<input type ="radio" name="gender" value="female" >female</input>

<!__alert box>
<div>
<button id="show" onclick="msg()">Submit</button>

</div>
</form>

<br><progress ></progress>

{%endblock%}





{%block content%}
{% for post in posts %}
<ul style="list-style-type:square;">
    <div class="post">
       
         <li> <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4></li>
      
    
    </div>
    </ul>
{% endfor %}
{%endblock%}


 













		