{% extends 'blog/base.html' %}
{%block title%} Items {%endblock%}


{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
             {{ post.published_date }} </p>
            </div>
        {% endif %}
        {%if user.is_authenticated%} <!so that only the logged in user can create post>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {%endif%}
        <h4>{{ post.title }}</h4>
        <p >{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}