{% extends 'blog/base.html' %}
{%block title%}Register{%endblock%}

{%block body%}
 <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12-col-md-7">
                <div class ="panel panel-default">
                    <div class="panel-body">
                        <h3>Add new account </h3>
                        {%if error_message%}
                        <p><strong>{{error_message}}</strong></p>
                        {%endif%}


<form method="post" class="form-horizontal" role="form" action="" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    {%include 'blog/form-template.html'%}
        <div class="form-group">
            <div class="col-sm-offset-2-col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
                 </div>
                    </div>
                </div>
            </div>
            </div>
     </div>
    </form>
{% endblock %}